body {
  margin: 0;
  padding: 0;
}

#osuBar {
  background: #d73f09;
  height: 100px;
}

#osuLogo {
  margin-right: auto;
  width: auto;
  max-width: 18%;
  height: auto;
  padding-left: 10px;
  padding-top: 5px;
  position: relative;
}

#blackBar {
  background: black;
  height: 50px;
  position: relative;
  border-bottom: none;
}

#barText {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 25px;
}

.navBar {
  display: inline-block;
}

.navBar ul {
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navBar li {
  display: inline;
  float: left;
}

.navBar a {
  color: #333333;
  width: 120px;
  display: block;
  padding: 25px 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.navBar a:hover {
  background: black;
  color: white;
}

.fastMenu {
  width: 1000px;
  padding: 40px;
  border: 3px solid black;
  margin: auto;
  position: center;
  border-radius: 25px;

}

.announceMenu {
  width: 1000px;
  padding: 40px;
  border: 3px solid black;
  margin: auto;
  position: center;
  border-radius: 25px;
}

#titleFast {
  background: #d73f09;
  color: white;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}

#greeting {
  font-size: 25px;
}

#titleAnnoun {
  background: #d73f09;
  color: white;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}

#universalupdate {
  color: #d73f09
}

#announceText {
  resize: none;
  height: 100px;
  width: 1000px;
}
