body {
  margin: 0;
  padding: 0;
}

#osuBar {
  background-color: #D73F09;
  height: 100px;
  text-align: left;
}

#osuLogo {
  height: 100px;
  padding-left: 5px;
}

#blackBar {
  background-color: #000000;
  height: 40px;
  text-align: left;
}

#barText {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

.navBar{
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  min-width: 1000px;
  margin-left: -40px;
  font-family: 'Gudea',Arial,Verdana,sans-serif;
  font-weight: lighter;
  font-size: 16px;
  display: inline-block;
}


.navBar ul li{
  list-style-type: none;
  float: left;
  margin-left: 20px;
  display: block;
}

.navBar a{
  padding-top: 15px;
  text-decoration: none;
  color: #252525;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}

.navBar a:hover{
  color: white;
  background-color: #252525;
  padding: 10px 20px;
  display: block;
}

/* .navBar {
  display: inline-block;
} */

/* .navBar ul {
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  text-align: center;
} */

/* .navBar li {
  display: inline;
  float: left;
} */

/* .navBar a {
  color: #333333;
  width: 120px;
  display: block;
  padding: 25px 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
} */

/* .navBar a:hover {
  background: black;
  color: white;
} */

.fastMenu {
  width: 1000px;
  padding: 40px;
  border: 3px solid black;
  margin: auto;
  position: center;
  border-radius: 25px;
  margin-top: 10px;

}

.announceMenu {
  width: 1000px;
  padding: 40px;
  border: 3px solid black;
  margin: auto;
  position: center;
  border-radius: 25px;
}

#titleFast {
  background: #d73f09;
  color: white;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}

#greeting {
  font-size: 25px;
}

#titleAnnoun {
  background: #d73f09;
  color: white;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}

#universalupdate {
  color: #d73f09
}

#announceText {
  resize: none;
  height: 100px;
  width: 1000px;
}
