body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#osuBar {
  background-color: #D73F09;
  height: 100px;
  text-align: left;
}

#osuLogo {
  height: 100px;
  padding-left: 5px;
}

#blackBar {
  background-color: #000000;
  height: 40px;
  text-align: left;
}

#barText {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

.navBar{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  min-width: 1000px;
  margin-left: -40px;
  font-family: 'Gudea',Arial,Verdana,sans-serif;
  font-weight: lighter;
  font-size: 16px;
}


.navBar ul li{
  list-style-type: none;
  float: left;
  margin-left: 20px;
  display: block;
}

.navBar a{
  padding-top: 15px;
  text-decoration: none;
  color: #252525;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}

.navBar a:hover{
  color: white;
  background-color: #252525;
  padding: 10px 20px;
  display: block;
}


/* .navBar ul {
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  text-align: center;
} */

/* .navBar li {
  display: inline;
  float: left;
} */

/* .navBar a {
  color: #333333;
  width: 120px;
  display: block;
  padding: 25px 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
} */

/* .navBar a:hover {
  background: black;
  color: white;
} */

#titleProfile {
  background: #d73f09;
  color: white;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  width: 1000px;
  height: auto;
  margin: auto;
}

.profileBox {
  width: 1000px;
  padding: 40px;
  border: 3px solid black;
  margin: auto;
  border-radius: 25px;
  margin-top: 10px;
}

#userInfo {
  text-align: left;
  font-size: 25px;
  font-style: bold;
}

#contactInfo {
  text-align: left;
  font-size: 25px;
  font-style: bold;
}

hr.solidLine {
  border-top: 1px solid #222222;
}

.fname {
  display: inline-block;
}

.ONIDemail {
  display: inline-block;
}

.altEmail {
  display: inline-block;
  margin-left: 400px;
}

.lname {
  display: inline-block;
  margin-left: 400px;
}

.memberT {
  display: inline-block;
}

.Pronoun {
  display: inline-block;
  margin-left: 400px;
}

#cancelbtn {
  display: inline-block;
  border-radius: 25px;
  width: 80px;
  height: 20px;
  margin-left: auto;
  color: white;
  background: #d73f09;
  text-align: center;
  padding: auto;
}

#savebtn {
  display: inline-block;
  border-radius: 25px;
  width: 80px;
  height: 20px;
  margin-right: auto;
  color: white;
  background: #d73f09;
  text-align: center;
  padding: auto;
}
