body
{
  margin: 0;
  overflow:hidden;
  text-align: center;
}

*{
  padding: 0;
  margin: 0;
}

p{
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav{
  background-color: pink;
  height: 50px;
}

nav ul{

}

nav ul li{
  list-style-type: none;
  width: 150px;
  float: left;
  text-align: center;
  height: 50px;
}

li a{
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
}

li a:hover{
  background-color: gray;
  color: black;
}

.top-orange-container{
  background-color: #D73F09;
  height: 100px;
  text-align: left;
}

.osu-logo-img{
  height: 100px;
}

.top-black-container{
  background-color: #000000;
  height: 40px;
  text-align: left;
}


.nav-container{
  background-color: green;
}

.navBar{
  display: inline-block;
  background-color: pink;
}

.navBar ul {
  list-style: none;
  background: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navBar li {
  display: inline;
  float: left;
}

.navBar a {
  text-decoration: none;
  color: #333333;
  width: 120px;
  display: block;
  padding: 25px;
  /* padding: 25px 20px; */
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.navBar a:hover {
  background: black;
  color: white;
}

.bottom-container{
  background-color: blue;
  margin-top: 0;
}
