body
{
  padding: 0;
  margin: 0;
  /* text-align: center; */
}


p{
  margin-top: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

hr{
  position: relative;
  bottom: 50px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.nav-container{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  min-width: 1000px;
  margin-left: -40px;
  font-family: 'Gudea',Arial,Verdana,sans-serif;
  font-weight: lighter;
  font-size: 16px;
}


.nav-container ul li{
  list-style-type: none;
  float: left;
  margin-left: 20px;
  display: block;
}

.nav-container a{
  padding-top: 15px;
  text-decoration: none;
  color: #252525;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}

.nav-container a:hover{
  color: white;
  background-color: #252525;
  padding: 10px 20px;
  display: block;
}

.top-orange-container{
  background-color: #D73F09;
  height: 100px;
  text-align: left;
}

.osu-logo-img{
  height: 100px;
  padding-left: 5px;
}

.top-black-container{
  background-color: #000000;
  height: 40px;
  text-align: left;
}

.my-classes-container{
  width: 1000px;
  padding: 40px;
  border: 3px solid black;
  margin: auto;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.class-orange-heading{
  background-color: #D73F09;
  height: 70px;
  width:1080px;
  position: relative;
  right: 40px;
  bottom:40px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.myClasses-heading{
  position: absolute;
  color: white;
  left: 480px;
  top: -5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.class-info-boxes {
    width: 1100px;
}

.class-info-boxes ul{
    position: relative;
    right: 60px;
    bottom: 35px;
}

.class-info-boxes ul li{
  list-style: none;
  display: inline-block;
  width: 150px;
  height: 25px;
  padding: 10px;
  background:#FCFCFC;
  box-shadow: 1px 2px 5px #888888;
  border-radius: 10px;
  position: relative;
  bottom: 15px;
}

.class-info-boxes li{
  font-size: 17px;
  text-align: center;
  font-family: 'Bubbler One', sans-serif;
  font-weight: lighter;
}

.no-class-message{
  color: black;
  position: relative;
  bottom: 50px;
  font-family: 'Average Sans', sans-serif;
  font-weight: lighter;
}

.add-class-button{
  background-color: #D73F09;
  color: white;
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 30px;

  position: relative;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  left: 920px;
  top: 15px;
}
